*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 0;
}

body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

@keyframes mouse{
    from{
        bottom: -260px
    }
    to{
        bottom: -250px
    }     
}

.container{
    max-width: 1100px;
    width: 100%;
}

.top-line{
    background-color: #c8a35f;
    height: 45px;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

.lang a{
    text-decoration: none;
    opacity: 0.5;
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

.lang a:active{
    opacity: 1;
}

.num,
.mail{
    font-size: 12px;
}

.first-line{
    background-color: #2f343a;
    height: 100px;
}

.bottom-header{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.logo{
    display: inline-block;
    padding-right: 25px;
    border-right: 1px solid #fff;
}

.geo{
    display: inline-flex;
    align-items: center;
    vertical-align: super;
    padding-left: 30px;
}

.geo img{
    padding-right: 10px;
}

.geo a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.menu li{
    display: inline-block;
    margin-right: 30px;
}

.menu li:last-child{
    margin-right: 0;
}

.menu ul{
    line-height: 46px;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.main{
    background-image: url(../img/bg-truck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}

.main-block{
    max-width: 920px;
    width: 95%;
    height: 245px;
    margin: auto;
    border: 1px solid #c8a35f;
    position: relative;
    top: 155px;
}

.main-block h1{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    text-align: center;
    padding: 45px 0px;
}

.main-block p{
    max-width: 770px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: auto;
}

.mouse{
    display: block;
    position: relative;
    bottom: -260px;
    margin: auto;
    transition: 0.2s;
    animation: mouse 0.5s infinite alternate-reverse;
}

.services{
    background-color: #2f343a;
}

.services-block{
    padding: 120px 0px;
}

.overline{
    width: 90px;
    height: 6px;
    margin-bottom: 40px;
    background-color: #c8a35f;
}

.services h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.pd{
    padding: 0;
}

.air{
    background-color: #393f47;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: 0;
    display: block;
    padding-top: 55px;
}

.air:hover{
    background-color: #c8a35f;
    text-decoration: none;
    padding-top: 35px;
}

.air:hover img{
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: #000;
    filter: invert(1);
}

.air img{
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.air p{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    padding-bottom: 35px;
    text-decoration: none;
    color: #fff;
}

.about{
    background-color: #2f343a;
}

.bg{
    width: 410px;
    height: 480px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    background-color: #393f47;
}

.about-block{
    padding-bottom: 120px;
}

.about-block .row{
    padding: 80px 0px;
}

.about-text h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px; 
    margin-bottom: 30px;
}

.about-text p{
    font-size: 16px;
    font-weight: 400;
}

.about-numeral{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.rectangle{
    background-color: #fff;
    color: #000;
    width: 200px;
    height: 175px;
    text-align: center;
    padding-top: 25px;
    border: 1px solid #c8a35f;
}

.level1{
    color: #2f343a;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 3.2px;
    margin-bottom: 10px;
}

.level2{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.9px;
    margin-bottom: 10px;
}

.level3{
    font-size: 12px;
    font-weight: 400;
}

.map{
    filter: brightness(0.6);
}

.map .pd{
    height: 450px;
}

.footer{
    background-color: #c8a35f;
    padding-top: 60px;
    padding-bottom: 55px;
}

.footer-block{
    display: flex;
    justify-content: space-between;
}

.footer .logo{
    border: 0;
    display: inline-block;
}
.ad-wrap{
    display: inline-flex;
    vertical-align: middle;
}

.address-mail{
    color: #2f343a;
    font-size: 14px;
    font-weight: 400;
}

.address-mail span{
    display: inline-block;
    opacity: 0.8;
    color: #f2f2f2;
    padding-bottom: 7px;
}

.footer-block2 .num:first-child{
    padding-bottom: 6px;
}

.footer-block2{
    display: flex;
    align-items: center;
}

.footer-block3{
    display: flex;
    align-items: flex-end;
}

.footer-block3 a{
    color: #2f343a;
    font-size: 14px;
    font-weight: 400;
}

.info{
    height: 560px;
    background-color: #2f343a;
}

.info .container{
    position: relative;
}

.grey-block{
    position: absolute;
    height: 560px;
    width: 35%;
    background-color: #393f47;
    padding-top: 120px;
    padding-bottom: 130px;
}

.gr-right{
    right: 0;
}

.info-text{
    padding-top: 120px;
    padding-bottom: 130px;
    max-width: 400px;
}

.info-text h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px; 
    margin-bottom: 30px;
}

.info-text p{
    font-size: 16px;
    font-weight: 400;
    max-width: 320px;
}

.button{
    text-decoration: none;
    color: #fff;
    padding: 18px 48px;
    background-color: #c8a35f;
    margin-top: 60px;
    display: inline-block;
}

.slider-item{
    outline: none;
}

.slider-item img{
    width: 85%;
}

.slider{
    width: 60%;
    padding-top: 150px;
    display: inline-block;
}

.arrows{
    display: inline-block;
}

.arrow{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.6px;
    line-height: 25.31px;
    color: #c8a35f;
}

.arrow:hover{
    cursor: pointer;
}

.arrow img{
    vertical-align: sub;
}

.arrow-next span{
    margin-right: 30px;
}

.arrow-prev{
    margin-top: 245px;
}

.arrow-prev span{
    margin-left: 30px;
}

@media (max-width: 910px){
    .logo{
        border-right: none;
    }

    .geo{
        display: none;
    }

    .arrow span{
        display: none;
    }

    .arrow-prev {
        margin-top: 200px;
    }

    .main-block h1{
        font-size: 50px;
    }
}

@media (max-width: 768px){
    .info-text h1{
        font-size: 26px;
    }

    .info-text p{
        font-size: 14px;
    }

    .slider{
        margin-left: 100px;
    }

    .arrows{
        display: flex;
        justify-content: space-around;
    }

    .arrow-prev {
        margin-top: 0;
        order: 1;
    }

    .arrow-next{
        order: 2;
    }

    .about-numeral img{
        display: none;
    }

    .menu li{
        margin-right: 10px;
    }

    .main-block{
        height: 200px;
    }

    .main-block p{
        display: none;
    }
}

@media (max-width: 576px){
    .slider,
    .arrows{
        display: none;
    }

    .hamburger-menu{
        display: block;
    }

    .menu{
        display: none;
    }

    .main-block h1{
        font-size: 44px;
    }

    .about-numeral{
        justify-content: center;
        margin-top: 20px;
    }

    .footer-block3{
        display: none;
    }

    .bg{
        display: none;
    }
}
